@{
    Layout = null;
}
@Model MvcTest.Models.Order
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <fieldset>
        <legend>Default Order</legend>
        @Html.EditorForModel()
    </fieldset>
    </div>
</body>
</html>
