@model MvcTest.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
     <form method="post" acton="">
        <fieldset>
            <legend>User Login</legend>
        @Html.EditorForModel()
         </fieldset>
        <input type="submit" name="提交" value="提交"/>
    </form>
</body>
</html>
