@{
    ViewBag.Title = "Login";
    Layout = null;
}
@Model MvcTest.Models.User

<h2>Login</h2>
<div>
    <form method="post" acton="">
        <fieldset>
            <legend>User Login</legend>
        @Html.EditorForModel()
         </fieldset>
        <input type="submit" name="提交" value="提交"/>
    </form>
</div>
