@model MVC.RazorEngine.Models.Product

@{
    ViewBag.Title = "Product Page";
}
@{
    int test = 0;
    string result = test.ToString();
}

    <div>
       Product Description @Model.Description
    </div>
